.main-container{
    background-color: black;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    max-width: 700px;
    display: block;
    border-radius: 20%;
    text-align: center;
    height: 90vh;
    position: 

}
 .main-container .maincontent .buttons .padd-15{
     display: flex;
     
}
/* .main-container .maincontent .top-box{
    display: block;
    padding-bottom: 100px;
    background-color: rgb(250, 246, 246);
    /* border-radius: 40%; */

.main-container .maincontent .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 150px;padding-left: 35px;
}  

.main-container .maincontent .buttons .btn{
    display: flex;
    border-radius: 50%;
    max-width: 90px;
    height: 80px;
    justify-content: center;
    padding-top: 40px;
    font-weight: bolder;
    margin-right: 50px;
    text-align: center;

}
.main-container .maincontent .buttons .top-btn
{
    background-color: rgb(224, 224, 224);

}

.main-container .maincontent .buttons .lft-btn{
    background-color: yellow;
}

.main-container .maincontent .buttons .nrm-btn{
    background-color: rgba(240, 255, 255, 0.596);
}



